<?xml version="1.0"?>
<config>
    <modules>
       <Skylion_Sales>
            <version>1</version>
       </Skylion_Sales>
   </modules>
   <global>
      <models>
       <sales>
         <rewrite>
           <order_invoice>Skylion_Sales_Model_Order_Invoice</order_invoice>
         </rewrite>
        </sales>
      </models>
   </global>
</config>